@import url('https://fonts.googleapis.com/css?family=Signika');

.header {
  color: #3b56b0;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
}

.mdl-card {
  width: 80%;
}

#contentBox {
  padding-top: 60px;
}

.flex {
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-box-direction: normal;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.mdl-data-table {
  border: none;
  width: 100%;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.success {
  color: #008000;
}

.danger {
  color: #9c1b1b;
}

#offline {
  opacity: 0.8;
  color: grey;
}

#label2 {
  font-weight: bold;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 2;
  left: 20px;
  bottom: 30px;
}

#snackbar button {
  background-color: transparent;
  color: #ff00ff;
  border: none;
  float: right;
}

#snackbar span {
  text-transform: uppercase;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
